.card {
    background-color: purple;
    padding: 10px;
    color: white;
  }
  .container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .containerChanged {
    display: grid;
    gap: 10px;
  }